/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.03.2019, 17:56:18
    Author     : Dev
*/

.icon-insta {
    background: url(/wp-includes/img/icon_insta.png) no-repeat center center;
    background-size: contain;
}

